<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="content-card">
      <div class="row">
        <h1>Recarga Celular</h1>
        <div class="col-lg-5 col-sm-12 mobile">
          <div
            class="centrado-img d-flex justify-content-center align-items-center "
          >
            <img src="./assets/img/logo.jpg" />
          </div>
        </div>
        <div class="col-lg-7 col-sm-12 form">

          <form (ngSubmit)="rechargeMobile()">
            <div class="mb-3">
              <label for="username" class="form-label">Operador:</label>
              <select class="form-control" [(ngModel)]="operador_id" name="operador_id">
                <option *ngFor="let item of items" [value]="item.id">{{ item.name }}</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="cel" class="form-label">Cel:</label>
              <input
                type="text"
                class="form-control"
                id="cel"
                placeholder="Cel"
                [(ngModel)]="numero"
                name="password"
                required
              />
            </div>
            <div class="mb-3">
              <label for="monto" class="form-label">Monto:</label>
              <input
                type="text"
                class="form-control"
                id="monto"
                placeholder="¿Cuanto?"
                [(ngModel)]="valor"
                name="monto"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary">Recargar</button>
          </form>
        </div>
        <div class="col-lg-5 col-sm-12 desktop">
          <div
            class="centrado-img d-flex justify-content-center align-items-center "
          >
            <img src="./assets/img/logo.jpg" />
          </div>
        </div>
        <div class="col-lg-12 col-sm-12 ">
          <div class="alert alert-success alert" role="alert" *ngIf="alert">
           {{message}}
          </div>
            <div class="alert alert-danger alert" role="alert"  *ngIf="alert2">
              No se pudo realizar la Recarga
            </div>
        </div>
      </div>
    </div>
  </div>
