a, p, label  {
    font-size: 20px;
    font-family: "Baloo 2", sans-serif;
    font-optical-sizing: auto;
}
h1 {
    font-size: 36px;
    font-family: "Baloo 2", sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}
a {
    color: #2B4F79  !important;
    text-decoration: underline !important;
}

.content-card {
   background-color: rgba(240, 240, 240, 0.61);
   border-radius: 23px;
   border: 6px solid #EAEAEA;
   padding:  20px;
  }
.btn-primary {
    background-color:  #4F87C9;
    border: 3px solid white;
    border-radius: 31px;
    padding: 3px 50px;
    font-size: 24px;
    font-family: "Baloo 2", sans-serif;
    font-weight: bold;
}
input::placeholder {
    color: #B1B1B1;
}
.desktop {
    display: none !important;
}
.alert {
    margin:  20px 0;
}
  // This applies from 600px onwards
  @media (min-width: 600px) {
    .content-card {
        width: 40%;
        padding: 40px 20px;
    }
    .btn-primary {
        float: left;
        margin-left: 40px;
        padding: 3px 80px;
    }
    .centrado-img {
        position: relative;
        top: 20%;
    }
    .mobile {
        display: none !important;
    }
    .desktop {
        display: block !important;
    }
  }