<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="content-card">
      <div class="row">
        <div class="col-lg-5 col-sm-12">
          <div
            class="centrado-img d-flex justify-content-center align-items-center"
          >
            <img src="./assets/img/logo.jpg" />
          </div>
        </div>
        <div class="col-lg-7 col-sm-12 form">
          <h1>Login</h1>
          <form (ngSubmit)="onLogin()">
            <div class="mb-3">
              <label for="username" class="form-label">Documento:</label>
              <input
                type="text"
                class="form-control"
                id="username"
                placeholder="Ingresa tu Número de Documento"
                [(ngModel)]="username"
                name="username"
                required
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Clave:</label>
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Ingresa tu Contraseña"
                [(ngModel)]="password"
                name="password"
                required
              />
            </div>
            <p>No recuerdas tu clave <a>Recuperar contraseña</a></p>
            <button type="submit" class="btn btn-primary">Ingresar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
